<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Mantenimiento de Reserva</h4>
            </div>
            <div class="card-body">
                <form action="#" class="form-horizontal"
                    autocomplete="off"
                    [formGroup]="reservaForm"
                    (ngSubmit)="guardarReserva()"
                    >
                    <div class="form-body">
                        <h3 class="box-title">Informacion de Reserva</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Codigo de Agencia</label>
                                    <div class="col-md-9">

                                        <div class="input-group">
                                            <!-- input box -->
                                            <input class="form-control"
                                                   name="agencia"
                                                   placeholder="Codigo de agencia"
                                                   formControlName="CodAgencia" 
                                                   required       
                                            />

                                            <div class="input-group-append" >
                                                <button type="button"
                                                        class="btn btn-primary" 
                                                        data-toggle="modal" 
                                                        data-target=".bd-example-modal-xl">
                                                        <i class="mdi mdi-folder-lock-open"></i>
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl" role="document" >
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Agencias</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h4 class="card-title">Agencias</h4>
                                                                            <h6 class="card-subtitle">Agencias registrados en mi aplicación</h6>
                                                                            <div class="table-responsive">
                                                                                <table class="table table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Codigo</th>
                                                                                            <th>Nombre de agencia </th>
                                                                                            <th class="text-nowrap">Seleccionar</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let agencia of agencias">

                                                                                            <td>{{ agencia.MR01_CodAgencia }}</td>
                                                                                            <td>{{ agencia.MR01_NomAgencia }}</td>
                                                                                            <td class="text-nowrap text-center">
                                                                                                <a  data-toggle="tooltip" 
                                                                                                    data-original-title="Seleccionar" 
                                                                                                    class="cursor"
                                                                                                    (click)="seleccionarAgencia( agencia )"
                                                                                                    data-dismiss="modal"
                                                                                                    > 
                                                                                                    <i class="fa fa-check text-inverse m-r-10"></i> </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            &nbsp;
                                            &nbsp;
                                            <h4> Nombre: {{NombreAgencia}} </h4>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Fecha de Reserva</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <!-- input box -->
                                            <input class="form-control" 
                                                    name="FechaIngresoFechaIngreso" 
                                                    placeholder="Select a date" 
                                                    formControlName="FechaIngreso"
                                                    angular-mydatepicker #dp1="angular-mydatepicker" 
                                                    [(ngModel)]="model" [options]="myDpOptionsRsv" 
                                                    (dateChanged)="onDateChangedReserva($event)"/>
                                          
                                            <!-- clear date button -->
                                            <div class="input-group-append">
                                              <button type="button" class="btn btn-secondary" *ngIf="model" (click)="dp1.clearDate()">
                                                <i class="fa fa-close"></i>
                                              </button>
                                            </div>
                                          
                                            <!-- toggle calendar button -->
                                            <div class="input-group-append">
                                              <button type="button" class="btn btn-secondary" (click)="dp1.toggleCalendar()">
                                                <i class="fa fa-calendar-o"></i>
                                              </button>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Descripcion de reserva</label>
                                    <div class="col-md-9">
                                        <input type="text" 
                                                class="form-control" 
                                                placeholder="Descripcion de reserva"
                                                formControlName="Descripcion">
                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Observaciones</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" 
                                                    id="exampleFormControlTextarea1" 
                                                    placeholder="Observaciones"
                                                    formControlName="Observaciones"
                                                    rows="3"></textarea>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Activo</label>
                                    <div class="col-md-9">
                                        <div class="radio-list">
                                            <label class="custom-control custom-radio">
                                                <input id="radio3" name="radio" type="radio" checked="" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">SI</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input id="radio4" name="radio" type="radio" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">NO</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="box-title">Detalle de Reserva</h3>
                        <hr class="m-t-0 m-b-40">
                        <!-- ================================================================== -->

                        <!-- Aqui inicia el Proceso de guardar los detalles de la reserva  -->

                        <!-- ================================================================== -->
                        <!--/row-->

                        <div class="card-body">

                            <form action="" class="form-horizontal"
                                autocomplete="off"
                                [formGroup]="detalleForm"
                                (ngSubmit)="guardarItemDetalle()"
                            >

                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Fecha</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <!-- input box -->
                                                        <input class="form-control" 
                                                                name="FechaTour" 
                                                                placeholder="Select a date" 
                                                                formControlName="FechaTour"
                                                                angular-mydatepicker #dp2="angular-mydatepicker" 
                                                                [(ngModel)]="model2" [options]="myDpOptions" 
                                                                (dateChanged)="onDateChanged($event)"/>
                                                      
                                                        <!-- clear date button -->
                                                        <div class="input-group-append">
                                                          <button type="button" class="btn btn-secondary" *ngIf="model2" (click)="dp2.clearDate()">
                                                            <i class="fa fa-close"></i>
                                                          </button>
                                                        </div>
                                                      
                                                        <!-- toggle calendar button -->
                                                        <div class="input-group-append">
                                                          <button type="button" class="btn btn-secondary" (click)="dp2.toggleCalendar()">
                                                            <i class="fa fa-calendar-o"></i>
                                                          </button>
                                                        </div>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Hora</label>
                                                <div class="col-md-6">
                                                    
                                                    <input type="time" 
                                                            class="form-control" 
                                                            placeholder="Hora"
                                                            formControlName="Hora"
                                                            required minlength="2"
                                                            >

                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">

                                                <label class="control-label text-right col-md-3">Actividades</label>

                                                <div class="col-md-9">
                                                    
                                                    <div class="input-group">

                                                        <input class="form-control"
                                                        name="Codigo"
                                                        placeholder="Codigo de actividad"
                                                        formControlName="Codigo" 
                                                        required       
                                                        />
                                                        <input class="form-control"
                                                        name="Descripcion"
                                                        placeholder="Descripcion de actividad"
                                                        formControlName="Descripcion" 
                                                        required       
                                                        />
                                                        <div class="input-group-append" >
                                                            <button type="button"
                                                                    class="btn btn-primary" 
                                                                    data-toggle="modal" 
                                                                    data-target="#add-contact">
                                                                    <i class="mdi mdi-folder-lock-open"></i>
                                                            </button>

                                                            <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">Lista de Actividades</h4>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        </div>
                
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <h4 class="card-title">Actividades</h4>
                                                                                            <h6 class="card-subtitle">Lista de Actividades</h6>
                                                                                            <div class="table-responsive">
                                                                                                <table class="table table-bordered">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Codigo</th>
                                                                                                            <th>Descripcion de la Actividad</th>
                                                                                                            <th>Precio</th>
                                                                                                            <th class="text-nowrap">Seleccionar</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        <tr *ngFor="let servicio of listaServicios">
                
                                                                                                            <td>{{ servicio.MR07_CodTarAli }}</td>
                                                                                                            <td>{{ servicio.MR07_Descripcion }}</td>
                                                                                                            <td>{{ servicio.MR07_Precio }}</td>
                                                                                                            <td class="text-nowrap text-center">
                                                                                                                <a  data-toggle="tooltip" 
                                                                                                                    data-original-title="Seleccionar" 
                                                                                                                    class="cursor"
                                                                                                                    (click)="seleccionarServicio( servicio )"
                                                                                                                    data-dismiss="modal"
                                                                                                                    > 
                                                                                                                    <i class="fa fa-check text-inverse m-r-10"></i> </a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Precio</label>
                                                <div class="col-md-5">
                                                    <input type="text" 
                                                            class="form-control" 
                                                            placeholder="Precio"
                                                            formControlName="Precio"
                                                            >
                                               </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-4">Cantidad</label>
                                                <div class="col-md-5">
                                                    <input type="text" 
                                                            class="form-control" 
                                                            placeholder="Cantidad"
                                                            formControlName="Cantidad"
                                                            >
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="col-md-2 text-center">
                                        <div class="button-box m-t-20">
                                            <tr>
                                                <td colspan="2">
                                                    <button type="submit" class="btn btn-info btn-rounded">Guardar Actividad</button>
                                                </td>
                                
                                            </tr>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
 
                        <!-- ====================================================================== -->
                        <hr class="m-t-0 m-b-40">

                        <!--Aqui inicia el Grid donde se va guardando los detalles de servicios -->

                        <!-- ====================================================================== -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <h6 class="card-subtitle">Actividades reservas</h6>
                        
                                        <div class="table-responsive">
                        
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Codigo</th>
                                                        <th>Descripcion de Acividad</th>
                                                        <th>Moneda</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>Total</th>
                                                        <th>Fecha</th>
                                                        <th>Hora</th>
                                                        <th class="text-nowrap">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let detalle of detalleArray"  >
                                                        <td> {{ detalle.CodSrv }} </td>
                                                        <td> {{ detalle.Descripcion }} </td>
                                                        <td> {{ detalle.Moneda }} </td>
                                                        <td> {{ detalle.Cantidad }} </td>
                                                        <td> {{ detalle.Precio }} </td>
                                                        <td> {{ detalle.Total }} </td>
                                                        <td> {{ detalle.FechaTour }} </td>
                                                        <td> {{ detalle.HoraTour }} </td>
                                                        <td class="text-nowrap text-center">
                                                            <a  data-toggle="tooltip" 
                                                                data-original-title="Borrar"
                                                                class="cursor"
                                                                (click)="eliminarItemDetalle( detalle )"
                                                                > <i class="fa fa-close text-danger"></i> </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success">Guardar Reserva</button>
                                            &nbsp;
                                            <button
                                            routerLink="/dashboard/reservas"
                                            type="button" class="btn btn-inverse">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>